<div class="flex w-full h-full py-5 justify-between">
  <!-- Search Bar -->
  <div
    class="flex justify-center items-center w-[37%] backdrop-blur-sm bg-[#373a34]/35 p-2 rounded-md border-[0.06rem] border-[#575852]"
  >
    <i
      class="fa-solid fa-magnifying-glass w-[5%] mx-3 opacity-100 text-[#a0a09b]"
    ></i>
    <input
      class="w-[95%] h-[60%] text-left backdrop-blur-sm bg-[#373a34]/35 text-[#a0a09b] border-none focus:outline-none"
      placeholder="Buscar canciones, álbumes..."
      type="text"
    />
  </div>

  <!-- User Login -->
  <div></div>
</div>
