<div class="w-fit h-full flex justify-center items-center text-white mx-4">
  <button
    class="h-full flex items-center justify-center bg-transparent border-none cursor-pointer hover:text-blue transition-all duration-200"
    (click)="onClickLogin()"
  >
    <i class="fa-solid fa-circle-user text-2xl"></i>
  </button>
  <button
    class="h-full flex items-center justify-center bg-transparent border-none cursor-pointer hover:text-red-900 transition-all duration-200"
    (click)="onClickLogout()"
  >
    <i class="fa-solid fa-circle-user text-2xl"></i>
  </button>
</div>
